{{ define "health" }}
  {
    "endpoint": "/health",
    "backend": [
      {
        "url_pattern": "/health"
      }
    ]
  },
  {
    "endpoint": "/",
    "backend": [
      {
        "url_pattern": "/"
      }
    ]
  }
{{ end }}